.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
  }
  .paginationContainer button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    border: none;
  }
  .activeButton {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
  