.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.block {
  background-color: rgb(168, 168, 168);
  border-radius: 5px;
  user-select: none;
  height: 500px;
  width: 1200px;
  overflow: hidden;
}
.container {
  user-select: none;
  height: 500px;
  width: 1200px;
  cursor: grab;
  overflow: hidden;
}
.cards {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

