.faSearch {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
  }
  .input {
    width: 60vw;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  