@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;500;700&display=swap");

* {
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}
.main {
  background-color: rgb(50, 50, 50);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.faSearch {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px;
}
.input {
  width: 60vw;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.block {
  background-color: rgb(168, 168, 168);
  border-radius: 5px;
  user-select: none;
  height: 500px;
  width: 1200px;
  overflow: hidden;
}
.container {
  user-select: none;
  touch-action: none;
  height: 500px;
  width: 1200px;
  cursor: grab;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.selectedPage {
  font-weight: bold;
}
.card {
  pointer-events: none;
  user-select: none;
  width: 300px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 40px 50px;
}
.thumbnail {
  position: relative;
  top: -10px;
  left: -5px;
  width: 300px;
  height: auto;
}
.channel {
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
}
.title {
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item {
  width: 130px;
  font-size: 16px;
}
.icon {
  width: 15px;
  height: auto;
  margin-right: 5px;
}
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.pagination-container button {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 20px;
  border: none;
}
.active-button {
  width: 40px;
  height: 40px;
  margin:  0 5px;
  border-radius: 20px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

@media (max-width: 426px) {
  .block {
    width: 350px;
  }
  .container {
    width: 350px;
  }
  .card {
    width: 250px;
    margin: 40px 50px;
  }
  .thumbnail {
    width: 250px;
  }
}
